#environment details when project was executed

aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
asttokens==3.0.1
attrs==26.1.0
blinker==1.9.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
comm==0.2.3
ctransformers==0.2.5
dataclasses-json==0.5.14
debugpy==1.8.20
decorator==5.3.1
distro==1.9.0
executing==2.2.1
filelock==3.29.0
Flask==3.1.3
frozenlist==1.8.0
fsspec==2026.4.0
greenlet==3.5.1
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
idna==3.17
ipykernel==7.2.0
ipython==9.14.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.6
jiter==0.15.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.1.1
jupyter_client==8.8.0
jupyter_core==5.9.1
langchain==1.3.6
langchain-classic==1.0.7
langchain-community==0.4.2
langchain-core==1.4.3
langchain-huggingface==1.2.2
langchain-openai==1.2.2
langchain-pinecone==0.2.13
langchain-protocol==0.0.16
langchain-text-splitters==1.1.2
langchainplus-sdk==0.0.20
langgraph==1.2.4
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
langsmith==0.8.7
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib-inline==0.2.2
# Editable Git install with no remote (Medical-Chatbot==0.0.0)
-e c:\prem-personal\ds-projects\mchatbot
mpmath==1.3.0
multidict==6.7.1
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.4
numexpr==2.14.1
numpy==1.26.4
openai==2.41.0
openapi-schema-pydantic==1.2.4
orjson==3.11.9
ormsgpack==1.12.2
packaging==24.2
parso==0.8.7
pillow==12.2.0
pinecone==7.3.0
pinecone-client==6.0.0
pinecone-plugin-assistant==1.8.0
pinecone-plugin-interface==0.0.7
platformdirs==4.10.0
prompt_toolkit==3.0.52
propcache==0.5.2
psutil==7.2.2
pure_eval==0.2.3
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
Pygments==2.20.0
PyMuPDF==1.27.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
pyzmq==27.1.0
regex==2026.5.9
requests==2.34.2
requests-toolbelt==1.0.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
sentence-transformers==2.7.0
sentencepiece==0.2.1
simsimd==6.5.16
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.50
stack-data==0.6.3
sympy==1.14.0
tenacity==8.5.0
threadpoolctl==3.6.0
tiktoken==0.13.0
tokenizers==0.22.2
torch==2.12.0
torchvision==0.27.0
tornado==6.5.6
tqdm==4.67.3
traitlets==5.15.0
transformers==4.57.6
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uuid_utils==0.16.0
wcwidth==0.7.0
websockets==15.0.1
Werkzeug==3.1.8
xxhash==3.7.0
yarl==1.24.2
zstandard==0.25.0
